body{
    margin: 0;
    padding: 0;
    background-color:white
}
a{
    text-decoration: none;
    background-color: blue
}
    
a:hover{
    color: #30678b;
    text-decoration: none
}

 .asa{
    width: 100% ;
    height: max-content;
    text-align: center;
    color:black;
    background-color:white;
}

nav li {
    position: relative;
    text-align: center;
    width: 100%;
    background-color: rgb(206, 206, 206);
    display: inline-block;
    font-size: 1.975em;
    font-weight: bolder;
    border-radius: 10px;
    line-height: 2em;
    color:black;
    margin: -2% auto;
    
}

nav a {
    position: relative;
    width: 35%;
    display: inline-block;
    margin: 2% 7%;
    /* margin-left: 12%;
    margin-top: 2%; */
    border-radius: 10px;
}

.sab{
    width: 80%;
    position: relative;
    margin: -2% auto;
}





























.asz{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.603);
    position: absolute;
    bottom: 0%;
    /* margin-bottom: 0.001%; */
    text-align: center;
    font-size: 1.135em;
}
