body{
    margin: 0;
    padding: 0;
    /* background-color: #9b9b9b */
}
a{
    text-decoration: none;
}
    
a:hover{
    color: rgb(55, 192, 255);
    text-decoration: none
}

.asaaa{
margin-top: 0px;
width: 100%;
height: auto;
max-width: 800px;
display: block;
margin-left: auto;
margin-right: auto;
}

.nav{
    position: relative;
    top: 3%;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.menu-left{
    width: 25%;
    float: left;
    text-align: center;
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
    font-weight: bold;
    border-radius: 8px;
    margin-left: 20%;
    background-color: rgba(206, 206, 206, 0.658);
}
.menu-right{
    width: 25%;
    float: right;
    text-align: center;
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
    font-weight: bold;
    border-radius: 8px;
    margin-right: 20%;
    background-color: rgb(206, 206, 206);
}
div li {
    text-decoration: none;
    position: relative;
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 0.9865em;
    font-weight: bolder;
    border-radius: 10px;
    line-height: 60px;
    color:black;
    margin: -2% auto;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    position: relative;
    display: block;
    background-image: -webkit-linear-gradient(left, #3498db, #f47920 10%, #d71345 20%, #f7acbc 30%,
    #ffd400 40%, #3498db 50%, #f47920 60%, #ce4265 70%, #f7acbc 80%, #ffd400 90%, #3498db);
    color: transparent; 
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;   
    background-size: 200% 100%; 
    animation: masked-animation 2.98s infinite linear;
}
@keyframes masked-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -100% 0;
    }
}

.sad{
    text-align: center;
    font-size: 20px;
    position: relative;
    margin-top: 20px;
}

#regular{
    position: relative;
    width: 60%;
    margin-left: 20%;
}
.title{
    font-size: 0.87545em;
    text-align: center;
    margin-bottom: -0.5em;

}


.article{
    background-image: url(pic/html.jpg);

}

.article-1{
    background-image: url(pic/java.jpg);

}

.article-2{
    background-image: url(pic/python.jpg);
}

.article-3{
    background-image: url(pic/linux.png);
}


#commen{
    width: 80%;
    margin-left: 10%;
    position: relative;
    height: auto;
    margin-top: 1em;
    font-size: 0.87501em;
    text-align: center;
    background-size: cover;
    display: inline-block;
    background-position: center;
    border-radius: 13px;
    padding-top:40%;
}



.links{
    color: black;
}


.little-text{
overflow: hidden;
position: relative;
display: inline-block;
margin-bottom: 2em;
margin-left: 10%;
margin-right: 10%;
font-size: 5px;
font-weight: bold;
background-color: #9b9b9b;
border-radius: 10px;

}

.span{
    margin-left: 10px;
    margin-right: 10px;
}

.asz{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.603);
    position: relative;
    bottom: 0%;
    /* margin-bottom: 0.001%; */
    text-align: center;
    font-size: 13px;
}
