body{
    margin: 0;
    padding: 0;
    background-color:rgba(224, 224, 224, 0.541);
}
a{
    text-decoration: none;
}
    
a:hover{
    color: #30678b;
    text-decoration: none
}

.asaaa{
    margin-top: 0px;
    width: 100%;
    height: auto;
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    }
    
#regular{
    position: relative;
    width: 60%;
    margin-left: 20%;
}
.title{
    font-size: 1.275em;
    text-align: center;

}


.article{
    background-image: url(pic/html.jpg);

}

.article-1{
    background-image: url(pic/java.jpg);

}

.article-2{
    background-image: url(pic/python.jpg);
}


#commen{
    width: 80%;
    margin-left: 10%;
    position: relative;
    height: auto;
    margin-top: 1em;
    font-size: 0.87501em;
    text-align: center;
    background-size: cover;
    display: inline-block;
    background-position: center;
    border-radius: 30px;
    padding-top:40%;
}



.links{
    color: #f71b1b;
}











.little-text{
overflow: hidden;
position: relative;
display: block;
margin-bottom: 9em;
margin-left: 10%;
}